<div class="container">

    <div align="right">
        <button mat-raised-button color="accent" routerLink="../list-clients">List Client</button>
    </div>


    <div class="card p-5 mt-3">
        <form #clientForm="ngForm" (ngSubmit)="saveClient(clientForm)" >
            <mat-form-field appearance="outline">
                <mat-label>First name</mat-label>
                <input matInput placeholder="First name" name="firstName" [(ngModel)]="client.firstName" />
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Last name</mat-label>
                <input matInput placeholder="Last name" name="lastName" [(ngModel)]="client.lastName" />
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Address" name="address" [(ngModel)]="client.address"/>
                <mat-icon matSuffix>apartment</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="Phone Number" name="phoneNumber" [(ngModel)]="client.phoneNumber" />
                <mat-icon matSuffix>phone_enabled</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" name="username" [(ngModel)]="client.username" />
                <mat-icon matSuffix>mail</mat-icon>
            </mat-form-field>

            <mat-divider></mat-divider>

            <div class="text-center mt-3">
                <button mat-raised-button color="primary" class="m-2" >Save</button>
            </div>
        </form>
    </div>
</div>