<div class="card">
    <div class="card-head">Lorem ipsum dolor - product 1</div>
    <div class="card-body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti possimus assumenda blanditiis deleniti. Voluptas, consequatur repellat odio provident tempora, placeat corporis suscipit corrupti maiores inventore, explicabo ipsam natus ad recusandae?</div>
</div>
<div class="card">
    <div class="card-head">Lorem ipsum dolor - product 1</div>
    <div class="card-body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, nemo reprehenderit quisquam ipsa nostrum vero animi vel sequi consectetur nam similique eos nisi at reiciendis pariatur perferendis mollitia unde aut.</div>
</div>