<div class="container">
  <div class="row flex-wrap">
    <div class="col-xl-4 col-lg-4">
      <mat-card class="card l-bg-cherry">
        <div class="card-statistic-3 p-4">
          <div class="card-icon card-icon-large">
            <i class="fas fa-shopping-cart"></i>
          </div>
          <mat-card-header>
            <mat-card-title>Order</mat-card-title>
            <mat-card-subtitle>$11.61k</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button>Refresh</button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>

    <div class="col-xl-4 col-lg-4">
      <mat-card class="card l-bg-blue-dark">
        <div class="card-statistic-3 p-4">
          <div class="card-icon card-icon-large">
            <i class="fas fa-users"></i>
          </div>
          <mat-card-header>
            <mat-card-title>Client</mat-card-title>
            <mat-card-subtitle>$11.61k</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button>Refresh</button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>

    <div class="col-xl-4 col-lg-4">
      <mat-card class="card l-bg-green-dark">
        <div class="card-statistic-3 p-4">
          <div class="card-icon card-icon-large">
            <i class="fas fa-ticket-alt"></i>
          </div>
          <mat-card-header>
            <mat-card-title>Tickets</mat-card-title>
            <mat-card-subtitle>$11.61k</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button>Refresh</button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>

    <div class="col-xl-4 col-lg-4">
      <mat-card class="card l-bg-orange-dark">
        <div class="card-statistic-3 p-4">
          <div class="card-icon card-icon-large">
            <i class="fas fa-dollar-sign"></i>
          </div>
          <mat-card-header>
            <mat-card-title>Revenue Today</mat-card-title>
            <mat-card-subtitle>$11.61k</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button>Refresh</button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>

    <div class="col-xl-4 col-lg-4">
      <mat-card class="example-card">
        <mat-card-content>
          <h4 class="example-h4">Progress Confirmation Order</h4>
          <mat-progress-spinner
            class="example-margin"
            [color]="color"
            [mode]="mode"
            [value]="value"
          >
          </mat-progress-spinner>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-xl-4 col-lg-4">
      <div>
        <div class="shadow">
          <mat-stepper linear #stepper>
            <mat-step [stepControl]="choseTask">
              <form [formGroup]="choseTask">
                <ng-template matStepLabel>Select your option</ng-template>
                <mat-form-field >
                  <mat-label>Memo</mat-label>
                  <mat-select
                    formControlName="selected"
                    [errorStateMatcher]="matcher"
                  >
                    <mat-option value="">Clear</mat-option>
                    <mat-option value="credit">Credit</mat-option>
                    <mat-option value="note">Note</mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="
                      choseTask.get('selected')?.invalid &&
                      (choseTask.get('selected')?.dirty ||
                        choseTask.get('selected')?.touched)
                    "
                  >
                    <span *ngIf="choseTask.get('selected')?.hasError('required')"
                      >You must make a selection</span
                    >
                    <span
                      *ngIf="
                        choseTask.get('selected')?.hasError('pattern') &&
                        !choseTask.get('selected')?.hasError('required')
                      "
                      >Your selection is invalid</span
                    >
                  </mat-error>
                </mat-form-field >
                <div>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>

            <mat-step [stepControl]="choseTask" *ngIf="choseTask.get('selected')?.value === 'credit'">
              <form [formGroup]="choseTask">
                <ng-template matStepLabel>Select your client</ng-template>
                <div>
                  <mat-form-field >
                    <mat-label>Client</mat-label>
                    <mat-select formControlName="client">
                      <mat-option *ngFor="let client of clients" [value]="client">{{
                        client
                      }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                  </div>  
                </div>
              </form>
            </mat-step>
      
            <mat-step [stepControl]="FormNotes">
              <form [formGroup]="FormNotes">
                <ng-template matStepLabel>Fill out your Note</ng-template>
                <mat-form-field >
                  <input
                    matInput
                    placeholder="Note"
                    formControlName="note"
                    required
                    name="Task"
                    [(ngModel)]="addTaskValue"
                  />
                </mat-form-field>              
      
                <div>
                  <button mat-button  matStepperPrevious >Back</button>
                  <button mat-button (click)="addTask()" matStepperNext >Done</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
              <p>You are now done.</p>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
            </mat-step>
          </mat-stepper>
        </div>
        <h4 class="task-title mt-4">Tasks :</h4>
        <div class="task-list">
          <div class="task-item">
            <div class="task-content" *ngFor="let task of taskArr" id="tasks">
              <div class="task-text">{{ task.task_name }}</div>
              <button
                class="btn btn-outline-primary"
                data-bs-toggle="modal"
                type="button"
                data-bs-target="#exampleModal"
              >
                e
              </button>
              <div class="btn btn-outline-danger" (click)="deleteTask(task)">
                X
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="example-input-wrapper"></div>
    

  </div>

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Task</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="input-group p-4">
            <input
              type="text"
              class="form-control"
              placeholder="Enter task "
              name="task"
              [(ngModel)]="editTaskValue"
            />
            <button
              class="btn btn-outline-success"
              type="button"
              data-bs-dismiss="modal"
              (click)="editTask()"
            >
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
