/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import '../node_modules/@angular/cdk/overlay-prebuilt.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.modal-backdrop {
    /* bug fix - no overlay */    
    display: none;    
}
.modal-content{
    margin-top: 90px;
}