<div mat-dialog-content>
  <h1 mat-dialog-title>{{ isUpdateMode? 'Edit Category' : 'Add Category' }}</h1>
  <form #categoryForm="ngForm" (ngSubmit)="saveOrUpdateCategory(categoryForm)" enctype="multipart/form-data">
    <mat-form-field style="display: block">
      <mat-label>Name Category</mat-label>
      <input matInput placeholder="Category Name" 
             name="name"
             [(ngModel)]="category.name" />
    </mat-form-field>

    <mat-form-field style="display: block">
      <mat-label>Visbility</mat-label>
      <mat-select name="visbility" [(ngModel)]="category.visbility">
        <mat-option value="True">True</mat-option>
        <mat-option value="False">False</mat-option>
      </mat-select>
    </mat-form-field>

    <div mat-dialog-actions style="justify-content: center">
      <button mat-button mat-dialog-close>No</button>
      <button mat-button type="submit" [disabled]="!categoryForm.form.valid" cdkFocusInitial>{{ isUpdateMode ? "Update" : "Save" }}</button>
    </div>
  </form>
</div>
